@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn{
    @apply tw-p-2 tw-transition tw-duration-300 tw-ease-in-out hover:tw-bg-gray-100 hover:tw-text-black
  }
  .btn-primary{
    @apply tw-text-white tw-bg-indigo-400 tw-rounded-tl-2xl
  }
  .btn-danger {
    @apply tw-bg-fuchsia-500 tw-text-white tw-rounded-tr-2xl
  }
  .btn-secondary {
    @apply tw-bg-emerald-500 tw-text-white tw-rounded-xl tw-px-8 tw-mx-auto
  }
}
@layer utilities {
  .rtl {
    direction: rtl;
  }
}
