<template>
  <section class="tw-w-1/2 tw-mx-auto">
    <div class="calculate-panel">
      <!-- Buttons to select service type -->
      <button class="btn btn-primary" @click="setType(serviceType.SELL)">
        Sell
      </button>
      <button class="btn btn-danger" @click="setType(serviceType.BUY)">
        Buy
      </button>
    </div>
    <v-app>
      <div class="tw-container calculate-content">
        <v-row class="">
          <v-col cols="4">
            <v-select :items="gateways"
                      item-text="slug"
                      item-value="id"
                      :rules="rules.select"
                      label="gateways"
                      v-model="gatewayId"
                      @change="getCurrencies"></v-select>
          </v-col>
          <v-col cols="4">
            <v-select v-model="currencyId"
                      :items="currencies"
                      item-text="slug"
                      item-value="id"
                      :rules="rules.select"
                      label="currency">

            </v-select>
          </v-col>
          <v-col cols="4">
            <v-text-field
              label="amount"
              :rules="rules.amount"
              hide-details="auto"
              v-model="amount"
              @change="calculate"></v-text-field>
          </v-col>
        </v-row>
        <v-container>
          <v-row>
            <v-col cols="12">
              <r-row class="tw-mx-auto">
                <v-col cols="6" class="tw-d-flex tw-justify-center">
                  <button class="btn btn-secondary justify-space-between">
                    <span>{{totalAmount}}</span>
                    <span class="tw-ml-2">USD</span>
                  </button>
                </v-col>
              </r-row>
            </v-col>
          </v-row>
        </v-container>
      </div>
    </v-app>
  </section>
</template>

<script>
import {CALCULATE, CURRENCIES, GATEWAYS} from "../constants/endpoints";
import {serviceType} from "../constants/enums";

export default {
  data() {
    return {
      serviceType,
      type: serviceType.BUY,
      gatewayId:'',
      currencyId:'',
      items:[],
      currencies:[],
      gateways:[],
      amount:'',
      totalAmount:0,
      selectedItem1: null,
      selectedItem2: null,
      selectedItem3: null,
      rules: {
        select:[
          (value) => {
          if (!value) {
            return 'This field is required.'
          }}
          ],
        amount: [
          (value) => {
            if (!value) {
              return 'This field is required.'
            }
            if (isNaN(value)) {
              return 'Please enter a valid number.'
            }
            return true
          },
        ],
      },
    }
  },
  methods:{
    // fetch the list of available gateways from the server
   async getGateways(){
     this.gateways = await this.$axios.get(GATEWAYS)
     .then((response) => { return response.data.data })
    },
    // fetch the list of available currencies for the selected gateway from the server
   async getCurrencies(){
     this.currencies = await this.$axios.get(CURRENCIES +'?gateway_id=' + this.gatewayId)
       .then((response) => { return response.data.data })
    },
    // calculate the total amount based on the selected currency, gateway, and type
    async calculate(){
      this.totalAmount = await this.$axios.post(CALCULATE,{
      currency_amount: this.amount,
      gateway_id: this.gatewayId,
      currency_id: this.currencyId,
      type: this.type
    }).then((response) => { return response.data.data.amount })
    },
    // set the selected type and reset the other selections and the total amount
    setType(type){
      this.type = type
      this.gatewayId = null
      this.currencyId = null
      this.amount = null
      this.totalAmount = 0
    },
  },
  mounted() {
    this.getGateways()
  }
}
</script>

<style>
.calculate-panel {
  @apply tw-container tw-grid tw-w-full lg:tw-grid-cols-2 tw-grid-cols-12 tw-mx-auto tw-mt-32
}
.calculate-content {
  @apply tw-mx-auto tw-border-solid tw-border tw-border-gray-300 tw-rounded-b-2xl tw-px-8 tw-pt-6
}
</style>
